name: CI

on:
  push:
    branches: [master, main]
    paths-ignore:
      - '**.md'
      - '**.org'
      - 'LICENSE'
  pull_request:
    paths-ignore:
      - '**.md'
      - '**.org'
      - 'LICENSE'

jobs:
  test:
    runs-on: ubuntu-latest
    strategy:
      fail-fast: false
      matrix:
        emacs_version:
          - 28.1
          - 28.2
          - 29.1
          - 29.4
    steps:
      - uses: purcell/setup-emacs@master
        with:
          version: ${{ matrix.emacs_version }}

      - uses: actions/checkout@v6

      - name: Install pandoc
        run: sudo apt-get update && sudo apt-get install -y pandoc

      - name: Run tests
        run: make check
